In [1]:
import findspark
findspark.init()
import pyspark

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('walmart').getOrCreate()

In [4]:
# C:/Users/Miles.DESKTOP-R8LNB2P/Documents/BIG DATA/Spark_MiniProject --- CSV file path

In [5]:
walmartDF =  spark.read.load("walmart_stock.csv", 
                             format="csv", 
                             sep=",", 
                             inferSchema="true", 
                             header="true")

In [6]:
walmartDF.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

Print the first 5 records

In [7]:
walmartDF.show(5)

+-------------------+------------------+---------+---------+------------------+--------+------------------+
|               Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|
+-------------------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03 00:00:00|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04 00:00:00|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05 00:00:00|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|
|2012-01-06 00:00:00|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|
|2012-01-09 00:00:00|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|
+-------------------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

In [8]:
walmart = walmartDF.describe()
walmart.show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

In [9]:
from pyspark.sql.functions import round, col
des = walmart.select('summary', round("Open",2), round("High",2), round("Low",2), 
                     round("Close",2), round("Volume",2), round("Adj Close",2) )
des.show()

+-------+--------------+--------------+-------------+---------------+----------------+-------------------+
|summary|round(Open, 2)|round(High, 2)|round(Low, 2)|round(Close, 2)|round(Volume, 2)|round(Adj Close, 2)|
+-------+--------------+--------------+-------------+---------------+----------------+-------------------+
|  count|        1258.0|        1258.0|       1258.0|         1258.0|          1258.0|             1258.0|
|   mean|         72.36|         72.84|        71.92|          72.39|      8222093.48|              67.24|
| stddev|          6.77|          6.77|         6.74|           6.76|      4519780.84|               6.72|
|    min|         56.39|         57.06|         56.3|          56.42|       2094900.0|              50.36|
|    max|          90.8|         90.97|        89.25|          90.47|       8.08981E7|              84.91|
+-------+--------------+--------------+-------------+---------------+----------------+-------------------+

In [10]:
des.select("summary",col("round(open, 2)").alias("open"),
           col("round(High, 2)").alias("High"),
           col("round(Low, 2)").alias("Low"),
           col("round(close, 2)").alias("close"),
           col("round(volume, 2)").alias("volume"),
           col("round(Adj close, 2)").alias("Adj close")).show()

+-------+------+------+------+------+----------+---------+
|summary|  open|  High|   Low| close|    volume|Adj close|
+-------+------+------+------+------+----------+---------+
|  count|1258.0|1258.0|1258.0|1258.0|    1258.0|   1258.0|
|   mean| 72.36| 72.84| 71.92| 72.39|8222093.48|    67.24|
| stddev|  6.77|  6.77|  6.74|  6.76|4519780.84|     6.72|
|    min| 56.39| 57.06|  56.3| 56.42| 2094900.0|    50.36|
|    max|  90.8| 90.97| 89.25| 90.47| 8.08981E7|    84.91|
+-------+------+------+------+------+----------+---------+

In [17]:
walmartDF.count()

1258

In [12]:
walmartDF.show(5)

+-------------------+------------------+---------+---------+------------------+--------+------------------+
|               Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|
+-------------------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03 00:00:00|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04 00:00:00|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05 00:00:00|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|
|2012-01-06 00:00:00|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|
|2012-01-09 00:00:00|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|
+-------------------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

Create a new dataframe with a column called HV Ratio that is the ratio 
of the High Price versus volume of stock traded for a day.

In [21]:
walmartDF.createOrReplaceTempView('newDF')
ps1 = spark.sql('select (High/Volume) as HV_ratio from newDF')

ps1.show()

+--------------------+
|            HV_ratio|
+--------------------+
|4.819714653321546E-6|
|6.290848613094555E-6|
|4.669412994783916E-6|
|7.367338463826307E-6|
|8.915604778943901E-6|
|8.644477436914568E-6|
|9.351828421515645E-6|
| 8.29141562102703E-6|
|7.712212102001476E-6|
|7.071764823529412E-6|
|1.015495466386981E-5|
|6.576354146362592...|
| 5.90145296180676E-6|
|8.547679455011844E-6|
|8.420709512685392E-6|
|1.041448341728929...|
|8.316075414862431E-6|
|9.721183814992126E-6|
|8.029436027707578E-6|
|6.307432259386365E-6|
+--------------------+
only showing top 20 rows

# What day had the Peak High in Price?

In [33]:
PeakHigh = spark.sql("select Date, max(High) as Peak_High from newDF group by Date order by Peak_High desc limit 1")
PeakHigh.show()

+-------------------+---------+
|               Date|Peak_High|
+-------------------+---------+
|2015-01-13 00:00:00|90.970001|
+-------------------+---------+

# What is the mean of the Close column?

In [32]:
Avg_Close = spark.sql("select avg(Close) as Avg_Close from newDF")
Avg_Close.show()

+-----------------+
|        Avg_Close|
+-----------------+
|72.38844998012726|
+-----------------+

# What is the max and min of the Volume column?

In [31]:
Max_Min_Volume = spark.sql("select max(Volume) \
                           as Max_Volume, \
                           min(Volume) as Min_Volume \
                           from newDF")
Max_Min_Volume.show()

+----------+----------+
|Max_Volume|Min_Volume|
+----------+----------+
|  80898100|   2094900|
+----------+----------+

# How many days was the Close lower than 60 dollars?

In [30]:
Days_Close = spark.sql("select count(Date) as Days from newDF where Close < 60")
Days_Close.show()

+----+
|Days|
+----+
|  81|
+----+

# What percentage of the time was the High greater than 80 dollars ? 

### What percentage of the time was the High greater than 80 dollars ? 
### In other words, (Number of Days High>80)/(Total Days in the dataset)

In [ ]:
# SET @total_days = (select count(*) from newDF); select count(*)/@total_days from newDF where High>80

In [46]:
percent = spark.sql("select \
                    (count(Date)/ \
                    (Select count(Date) from newDF)*100) \
                    as percent from newDF \
                    where high>80")

percent.show()

+-----------------+
|          percent|
+-----------------+
|9.141494435612083|
+-----------------+

# What is the pearson correlation between high and volume?

In [55]:
pcorr = spark.sql("select corr(High,Volume) \
                  as Pearson_Correlation \
                  from newDF")
pcorr.show()

+-------------------+
|Pearson_Correlation|
+-------------------+
|-0.3384326061737161|
+-------------------+

# What is the max High per year?

In [54]:
maxHighYear = spark.sql("select year(Date), \
                        max(High) from newDF \
                        group by year(Date)")
maxHighYear.show()

+----------+---------+
|year(Date)|max(High)|
+----------+---------+
|      2015|90.970001|
|      2013|81.370003|
|      2014|88.089996|
|      2012|77.599998|
|      2016|75.190002|
+----------+---------+

# what is the average close for each calender month?
### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... 
### Your result will have a value for each of these months.

In [53]:
Avg_Close_Calender = spark.sql
            ("select  month(Date) as Month, avg(close) as Avg_Close \
            from newDF group by month(Date) order by month(Date)")
Avg_Close_Calender.show()

+-----+-----------------+
|Month|        Avg_Close|
+-----+-----------------+
|    1|71.44801958415842|
|    2|  71.306804443299|
|    3|71.77794377570092|
|    4|72.97361900952382|
|    5|72.30971688679247|
|    6| 72.4953774245283|
|    7|74.43971943925233|
|    8|73.02981855454546|
|    9|72.18411785294116|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|   12|72.84792478301885|
+-----+-----------------+